<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Week A</h2>
        <table class="table table-striped table-bordered">
            {% for day in week_a %}
            <tr>
                <td>{{day.0}}</td>
                <td>
                    {% for chore in day.1 %}
                        <div class="row"><div class="col-xs-12">{{chore.title}}<button class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="POST">
                                <select name="chore">
                                    <option value="">Select...</option>
                                </select>
                                <input type="submit" value="Add"></input>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Week B</h2>
        <table class="table table-striped table-bordered">
            {% for day in week_b %}
            <tr>
                <td>{{day.0}}</td>
                <td>
                    {% for chore in day.1 %}
                        {{chore.title}} - 
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Week C</h2>
        <table class="table table-striped table-bordered">
            {% for day in week_c %}
            <tr>
                <td>{{day.0}}</td>
                <td>
                    {% for chore in day.1 %}
                        {{chore.title}} - 
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Week D</h2>
        <table class="table table-striped table-bordered">
            {% for day in week_d %}
            <tr>
                <td>{{day.0}}</td>
                <td>
                    {% for chore in day.1 %}
                        {{chore.title}} - 
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
