{{ form.form_data.title.value }}
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>
                </th>
            </tr>
            {% for chore in chores %}
            <tr>
                <td>{{chore.title}}</td>
                <td>{{chore.description}}</td>
                <td>
                    <form class="form-inline" method="POST">
                        <input type="hidden" name="type" value="delete"/>
                        <input type="hidden" name="id" value="{{chore.id}}"/>
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <form method="POST"> 
                <input type="hidden" name="type" value="create"/>
                <tr>
                    <td>
                        <input name="title" value="{{ form.form_data.title.value }}"/>
                        {% if form %}
                            {% if not form.form_data.title.is_valid %}
                                INVALID
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><textarea name="description">{{ form.form_data.description.value }}</textarea></td>
                    <td><button class="btn btn-primary">Save</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
